In [158]:
import numpy as np
import pandas as pd

In [159]:
df = pd.read_excel('Book1.xlsx')

In [160]:
print(df.shape)

(36, 46)

In [161]:
print(df.head())

          Offence type (ANZSOC division) 1980/1981 1981/1982 1982/1983  \
0                           01: Homicide       353       366       329
1                            02: Assault      7208      7933      7760
2                    03: Sexual offences      1401      1092      1298
3           04: Harm or endanger persons      2176      2299      2231
4  05: Robbery, blackmail, and extortion       426       494       504

  1983/1984 1984/1985 1985/1986 1986/1987 1987/1988 1988/1989  ... 2015/2016  \
0       407       406       447       464       485       529  ...       236
1      8741      9349      9671     10244     11476     12469  ...     24225
2      1449      1682      1816      1917      2180      2440  ...      6284
3      2693      2651      2901      3143      3204      3346  ...      7127
4       657       729       997       970       864       933  ...      1350

  2016/2017 2017/2018 2018/2019 2019/2020 2020/2021 2021/2022 2022/2023  \
0       202       241       235       211       339       245       227
1     24890     24514     23673     23545     25701     20540     22599
2      5270      6177      5519      5216      6238      6010      7175
3      7651      7396      7521      7521      8263      7330      8140
4      1717      1795      1743      1401      1328      1156      1235

  2023/2024 2024/2025
0       283       297
1     24378     25427
2      7767      8428
3      9018     10024
4      1617      1583

[5 rows x 46 columns]

In [162]:
df = df.iloc[:18].reset_index(drop=True)
print(df.shape)
print(df.head())

(18, 46)
          Offence type (ANZSOC division) 1980/1981 1981/1982 1982/1983  \
0                           01: Homicide       353       366       329
1                            02: Assault      7208      7933      7760
2                    03: Sexual offences      1401      1092      1298
3           04: Harm or endanger persons      2176      2299      2231
4  05: Robbery, blackmail, and extortion       426       494       504

  1983/1984 1984/1985 1985/1986 1986/1987 1987/1988 1988/1989  ... 2015/2016  \
0       407       406       447       464       485       529  ...       236
1      8741      9349      9671     10244     11476     12469  ...     24225
2      1449      1682      1816      1917      2180      2440  ...      6284
3      2693      2651      2901      3143      3204      3346  ...      7127
4       657       729       997       970       864       933  ...      1350

  2016/2017 2017/2018 2018/2019 2019/2020 2020/2021 2021/2022 2022/2023  \
0       202       241       235       211       339       245       227
1     24890     24514     23673     23545     25701     20540     22599
2      5270      6177      5519      5216      6238      6010      7175
3      7651      7396      7521      7521      8263      7330      8140
4      1717      1795      1743      1401      1328      1156      1235

  2023/2024 2024/2025
0       283       297
1     24378     25427
2      7767      8428
3      9018     10024
4      1617      1583

[5 rows x 46 columns]

In [163]:
df = df.dropna(axis=1, how='all')
df = df.dropna(how='all')
print(df.shape)

(18, 46)

In [164]:
df.isnull().sum()

Offence type (ANZSOC division)    0
1980/1981                         0
1981/1982                         0
1982/1983                         0
1983/1984                         0
1984/1985                         0
1985/1986                         0
1986/1987                         0
1987/1988                         0
1988/1989                         0
1989/1990                         0
1990/1991                         0
1991/1992                         0
1992/1993                         0
1993/1994                         0
1994/1995                         0
1995/1996                         0
1996/1997                         0
1997/1998                         0
1998/1999                         0
1999/2000                         0
2000/2001                         0
2001/2002                         0
2002/2003                         0
2003/2004                         0
2004/2005                         0
2005/2006                         0
2006/2007                         0
2007/2008                         0
2008/2009                         0
2009/2010                         0
2010/2011                         0
2011/2012                         0
2012/2013                         0
2013/2014                         0
2014/2015                         0
2015/2016                         0
2016/2017                         0
2017/2018                         0
2018/2019                         0
2019/2020                         0
2020/2021                         0
2021/2022                         0
2022/2023                         0
2023/2024                         0
2024/2025                         0
dtype: int64

In [ ]:
#df.to_csv("cleaned_dataset.csv", index=False)