# Naive Forcast Model

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_dataset.csv')
df.tail()

,Year,Homicide,Assault,Sexual offences,Harm or endanger persons,"Robbery, blackmail, and extortion",Burglary,Theft,Fraud and related offences,Drug offences,Weapons and explosives offences,Property damage,"Public order, health, and safety offences",Traffic and vehicle offences,Offences against justice procedures and orders,Offences against government,Environmental offences,Miscellaneous offences,Total
40,2020,339,25701,6238,8263,1328,5894,25310,12465,14736,6590,7352,6414,40876,47544,877,1353,784,212064
41,2021,245,20540,6010,7330,1156,5008,20427,9290,12081,5566,5646,5742,33083,34146,313,1074,531,168188
42,2022,227,22599,7175,8140,1235,5664,26312,8765,12841,6450,6578,6619,39634,38123,342,952,657,192313
43,2023,283,24378,7767,9018,1617,7293,34148,8729,13156,7267,6860,7673,41639,44380,312,1353,660,216533
44,2024,297,25427,8428,10024,1583,6835,36179,9317,15791,7592,6666,8863,41281,45497,393,1553,591,226317

In [29]:
df_data = df.iloc[ :-1, -1]
df_data

0     331751
1     294409
2     252119
3     254658
4     274022
5     272657
6     298086
7     292500
8     308817
9     270585
10    241026
11    255878
12    258491
13    261371
14    271906
15    276802
16    269061
17    266665
18    272436
19    262059
20    266422
21    255739
22    265322
23    282515
24    287754
25    297185
26    314727
27    333004
28    348638
29    346707
30    308540
31    284899
32    272250
33    229410
34    218170
35    220185
36    225931
37    221757
38    212872
39    204566
40    212064
41    168188
42    192313
43    216533
Name: Total, dtype: int64

In [30]:
df_pred = df.iloc[1:, -1]
df_pred

1     294409
2     252119
3     254658
4     274022
5     272657
6     298086
7     292500
8     308817
9     270585
10    241026
11    255878
12    258491
13    261371
14    271906
15    276802
16    269061
17    266665
18    272436
19    262059
20    266422
21    255739
22    265322
23    282515
24    287754
25    297185
26    314727
27    333004
28    348638
29    346707
30    308540
31    284899
32    272250
33    229410
34    218170
35    220185
36    225931
37    221757
38    212872
39    204566
40    212064
41    168188
42    192313
43    216533
44    226317
Name: Total, dtype: int64

In [31]:
from sklearn.metrics import mean_absolute_error

x = mean_absolute_error(df_data,df_pred)
print(x)

14934.681818181818