In [1]:
import pandas as pd
df = pd.read_excel("Book1.xlsx")
print(df.head())

  Table 1a: Number and percentage of finalised charges, by offence type (ANZSOC division), 1980/1981 - 2024/2025  \
0  For more information on how to interpret these...
1                              Back to contents page
2                                                NaN
3                     Offence type (ANZSOC division)
4                                       01: Homicide

  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3  1980/1981  1981/1982  1982/1983  1983/1984  1984/1985  1985/1986
4        353        366        329        407        406        447

  Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 36 Unnamed: 37 Unnamed: 38  \
0        NaN        NaN        NaN  ...         NaN         NaN         NaN
1        NaN        NaN        NaN  ...         NaN         NaN         NaN
2        NaN        NaN        NaN  ...         NaN         NaN         NaN
3  1986/1987  1987/1988  1988/1989  ...   2015/2016   2016/2017   2017/2018
4        464        485        529  ...         236         202         241

  Unnamed: 39 Unnamed: 40 Unnamed: 41 Unnamed: 42 Unnamed: 43 Unnamed: 44  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3   2018/2019   2019/2020   2020/2021   2021/2022   2022/2023   2023/2024
4         235         211         339         245         227         283

  Unnamed: 45
0         NaN
1         NaN
2         NaN
3   2024/2025
4         297

[5 rows x 46 columns]

In [7]:
df.head()

,"Table 1a: Number and percentage of finalised charges, by offence type (ANZSOC division), 1980/1981 - 2024/2025",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,For more information on how to interpret these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Back to contents page,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Offence type (ANZSOC division),1980/1981,1981/1982,1982/1983,1983/1984,1984/1985,1985/1986,1986/1987,1987/1988,1988/1989,...,2015/2016,2016/2017,2017/2018,2018/2019,2019/2020,2020/2021,2021/2022,2022/2023,2023/2024,2024/2025
4,01: Homicide,353,366,329,407,406,447,464,485,529,...,236,202,241,235,211,339,245,227,283,297